## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:-

* Database

A database is a structured collection of data that is organized in a way that makes it easy to manage, retrieve, and update. It can store and manage large amounts of information, and databases are widely used in various applications and industries to handle structured data efficiently.

* SQL (Structured Query Language) Databases:


SQL databases are relational databases that use a structured query language (SQL) for defining and manipulating the data. They are based on a tabular structure where data is organized in tables with rows and columns. Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

* NoSQL Databases:

NoSQL databases, on the other hand, are non-relational databases that can handle unstructured, semi-structured, or structured data. They are designed to be more flexible and scalable than SQL databases, especially when dealing with large volumes of data or dynamic data models. Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.

* Differences between SQL and NoSQL

* Data Structure:

 SQL databases are table-based and use a predefined schema, while NoSQL databases are document-oriented, key-value pairs, wide-column stores, or graph databases, and may not require a fixed schema.

* Scalability:

SQL databases usually scale vertically (by adding more horsepower to a single server), whereas NoSQL databases typically scale horizontally (by adding more servers to a distributed system).

* Schema:

SQL databases have a fixed schema, which means the structure of the data (tables and columns) is defined in advance. In contrast, NoSQL databases are schema-less or have a dynamic schema, allowing for more flexibility in handling different types of data.

* Complexity:

SQL databases are generally good for complex queries and transactions, while NoSQL databases are often better for large amounts of simple read and write operations and scalable data storage.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans :-

* DDL (Data Definition Language):

Data Definition Language (DDL) is a subset of SQL that deals with the structure and definition of the database objects. DDL commands are used to define, modify, and delete database objects such as tables, indexes, and schemas. Common DDL commands include CREATE, DROP, ALTER, and TRUNCATE.

1. CREATE :-

The CREATE command is used to create a new database object, such as a table, index, or view. It specifies the structure of the object, including the column names, data types, and constraints. Here's an example of creating a simple table in SQL:

Example :-

In [ ]:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE);

2. DROP :-

The DROP command is used to remove an existing database object, such as a table or index. It permanently deletes the object and its data from the database. Here's an example of dropping the "employees" table:

Example :-

In [ ]:
DROP TABLE employees;

3. ALTER :-

The ALTER command is used to modify the structure of an existing database object, such as adding or deleting columns or modifying constraints. Here's an example of adding a new column to the "employees" table:

Example :-

In [ ]:
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

4. TRUNCATE :-

The TRUNCATE command is used to remove all rows from a table but retains the table structure for future use. It is faster than the DELETE command because it doesn't log individual row deletions.

In [ ]:
TRUNCATE TABLE employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans :-

Data Manipulation Language (DML) is a subset of SQL used for managing data stored in a database. DML commands allow users to insert, update, and delete data within database tables. The primary DML commands include INSERT, UPDATE, and DELETE.

1. INSERT :-

The INSERT command is used to add new rows of data into a table. It is used to populate the table with the values specified in the command.

Example :-

In [ ]:
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (1, 'John', 'Doe', '2022-01-01');

2. UPDATE :-

The UPDATE command is used to modify existing data within a table. It allows users to change the values of specific columns based on certain conditions.

Example :-

In [ ]:
UPDATE employees
SET last_name = 'Smith'
WHERE employee_id = 1;

3. DELETE :-

The DELETE command is used to remove one or more rows from a table based on specified conditions.

Example :-

In [ ]:
DELETE FROM employees
WHERE employee_id = 1;

## Q4. What is DQL? Explain SELECT with an example.

Ans :-

Data Query Language (DQL) is a subset of SQL used for querying and retrieving data from a database. The primary DQL command is SELECT, which allows users to specify the data they want to retrieve and the conditions for retrieval.

SELECT :-

The SELECT statement is used to retrieve data from one or more tables in a database. It allows users to specify the columns they want, apply filtering conditions, and sort the results

Example :-

In [ ]:
SELECT column1, column2, 
FROM table_name
WHERE condition;

## Q5. Explain Primary Key and Foreign Key.

Ans :-

* Primary Key :-

A primary key is a unique identifier for a record in a database table. It is a column or a set of columns that uniquely identifies each row in the table. The primary key must have a unique value for each record and cannot contain null values. Additionally, a table can have only one primary key.

Example :-

In [ ]:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);

* Foreign Key:-

A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a link between the two tables, creating a relationship. The foreign key in one table is used to match the primary key values in another table, creating referential integrity between the two.

In [ ]:
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(50)
);

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans :-

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 51.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import mysql.connector

# Connect to the MySQL server
mydb = mysql.connector.connect(
    host="my_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

# Create a cursor object using the cursor() method
mycursor = mydb.cursor()

# Use the execute() method to execute a SQL query
query = "SELECT * FROM your_table"
mycursor.execute(query)

# Fetch the results using fetchall() or fetchone() method
results = cursor.fetchall()

# Process the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

* cursor() method:

The cursor() method is used to create a cursor object. A cursor is a pointer or handle to the result set of a query. It allows you to interact with the database and execute SQL queries.

* execute() method:

The execute() method is used to execute a SQL query. You pass the SQL query as a parameter to this method.

## Q7. Give the order of execution of SQL clauses in an SQL query.

Ans :-

The order of execution of SQL clauses in an SQL query generally follows these steps:

* FROM:-

Specifies the table or tables from which to retrieve the data.

* WHERE:

Filters the rows based on a specified condition or criteria. Rows that do not satisfy the condition are excluded.

* GROUP BY:

 Groups the result set by one or more columns. This is often used with aggregate functions like COUNT, SUM, AVG, etc.

* SELECT:

Specifies the columns to be retrieved from the result set. This clause also includes the calculation of expressions, aliases, and the use of aggregate functions.

* DISTINCT:

Removes duplicate rows from the result set.

* ORDER BY:

Sorts the result set based on one or more columns in ascending or descending order.

* HAVING:

Filters the groups formed by the GROUP BY clause based on a specified condition. It is similar to the WHERE clause but operates on grouped rows.

* LIMIT/OFFSET (or FETCH FIRST):

Limits the number of rows returned or skips a specified number of rows.